@model WebApplication1.Models.City

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table>
    <tr>
        @foreach( var res in this.Model.Resources)
        {
            <td class="res-img @(res.Type)"><img src="~/Content/img/icon-@(res.Type).png"></td>
            <td class="res-value @(res.Type)">@res.Value.ToString("F4")</td>
            <td class="res-update @(res.Type)">@res.LastUpdate.ToString()</td>
        }
    </tr>

</table>
<table class="mines">
    @foreach (var mine in this.Model.Mines)
    {
        <tr class="@(mine.Type)">
            <td><img src="~/Content/img/icon-@(mine.Type).png"></td>
            <td>@mine.Type</td>
            <td>@mine.Level</td>
            <td class="mine-details-btn" data-mine-id="@mine.MineId">Details</td>
            <td class="hourProduction">@mine.GetProductionPerHour()</td>
        </tr>
    }
    <div id="mine-details-container">
        <div class="close-btn">X</div>
        <div class="content"></div>
    </div>
</table>
@section Scripts {
    <script src="~/Scripts/myscripts/mines.js"></script>
    <script src="~/Scripts/Date.min.js"></script>
    }